.category{
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;


}


.category-image{
    height:100%;
    background:#e6e6e6;
    width:100%;

}

.category-image img{
    height:400px;
    width:100%;
}

.explore{
    display:flex;

    flex-direction:column;
    width:100%;

}